<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gonistudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoniStudy">
        <activity
            android:name=".CustomWidget.CustomWidgetActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomView.CustomViewActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Fragment.Data.FragmentActivity2"
            android:exported="true"></activity>
        <activity
            android:name=".Fragment.FragmentActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerView.Test.RecyclerViewActivity2"
            android:exported="true" />
        <activity
            android:name=".Spinner.SpinnerActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SubActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.PracticeActivity"
            android:exported="true" />
        <activity
            android:name=".Widget.WidgetActivity"
            android:exported="true" />
        <activity
            android:name=".ViewBinding.ViewBindingActivity"
            android:exported="true" />
        <activity
            android:name=".ListViewUpgrade.ListActivity2"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RecyclerView.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ListView.ListActivity"
            android:exported="true" />
        <activity
            android:name=".Notification.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".Alert.AlertActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>